### Stock Price Forecasting
- Goal: Predict next-day stock price from past sequence data.
- Dataset: Yahoo Finance (https://pypi.org/project/yfinance/)
- Model: LSTM for regression
- Task Type: Regression
- Extension: Add multi-step forecasting; compare CNN vs. LSTM.

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt 
import torch
import torch.nn as nn
from torch.utils.data import DataLoader, Dataset, TensorDataset
from torch.utils.tensorboard import SummaryWriter
import yfinance as yf
from LSTM import SimpleLSTM

In [2]:
symbols = ['MSTF', 'GOOGL', 'AMZN', 'TSLA']
for symbol in symbols:
    stock = yf.Ticker(symbol)
    info = stock.info
    print(f"Symbol: {symbol}")
    print(f"Name: {info.get('shortName', 'N/A')}")
    print(f"Market: {info.get('market', 'N/A')}")
    print(f"Sector: {info.get('sector', 'N/A')}")
    print("-" * 30)

Symbol: MSTF
Name: MONARCH STAFFING INC
Market: us_market
Sector: N/A
------------------------------
Symbol: GOOGL
Name: Alphabet Inc.
Market: us_market
Sector: Communication Services
------------------------------
Symbol: AMZN
Name: Amazon.com, Inc.
Market: us_market
Sector: Consumer Cyclical
------------------------------
Symbol: TSLA
Name: Tesla, Inc.
Market: us_market
Sector: Consumer Cyclical
------------------------------

In [3]:
# Tai toan bo du lieu tu 5 nam tro lai
dat = yf.download('AMZN', period='5y')
# Luu vao file
dat.to_csv('AMZN_5y.csv')

C:\Users\Admin\AppData\Local\Temp\ipykernel_4616\3028998652.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  dat = yf.download('AMZN', period='5y')
[*********************100%***********************]  1 of 1 completed

In [4]:
df = pd.read_csv('AMZN_5y.csv')
print(df.columns)

Index(['Date', 'Price', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object')

In [5]:
df.head()

,Date,Price,Close,High,Low,Open,Volume
0,2020-11-06,165.568497,166.100006,161.600006,165.231995,92946000,NaN
1,2020-11-09,157.186996,164.449997,155.605499,161.551498,143808000,NaN
2,2020-11-10,151.751007,155.699997,150.973999,154.751007,131820000,NaN
3,2020-11-11,156.869507,156.957504,152.500000,153.089005,87338000,NaN
4,2020-11-12,155.514008,158.794006,154.302505,157.997498,87240000,NaN

In [6]:
df.isnull().sum()

Date         0
Price        0
Close        0
High         0
Low          0
Open         0
Volume    1255
dtype: int64